@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");


.gif{
    margin-left: 50px;
    width: 540px;
    height: 360px;
    border-radius: 25px;
}

.right-side-first-section{
    margin-right: 120px;
    margin-top: 70px;
}

.left-side-first-section{
    margin-left: 90px;
    margin-top: 50px;
    width: 500px;

}



.first-section{
    background-color: #242bba;
}

.h3-motivation{
    color: white;
    font-family: "Protest Riot", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    margin-right: 130px;
    width: 500px;
}

.first-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}

.left-side-second-section h2{
    margin-top: 0px;
    font-family: "Protest Riot", sans-serif;
    font-size: 52px;
    position: absolute;
    top: 180px;
    left: 130px;
    text-align: center;
}

.second-section{
    display: flex;
    flex-direction: row;
    color: black;
    height: 450px;
}
.left-side-second-section{
    background-color: #CDD5D1;
    width: 40vw;
    position: relative;
    align-items: center;
    justify-content: center;
}

.right-side-second-section{
    margin-top: 80px;
    margin-left: 200px;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 200px 200px;
    font-size: 20px;
    font-family: "Protest Riot", sans-serif;
}

.horizontal-line{
    height: 4px;
    border-radius: 15%;
    z-index: 4;
    border: none;
    background-color: #f64c71;
    margin: 0px 480px;
    width: 600px;
    position: absolute;
}

.icons ul li{
    font-size: 30px;
    padding-right: 40px;
    color: white;
    list-style-type: none;
}

.first-square{
    border-radius: 20px;
    background-color: #f96e46;
    color: #ffffff;
    text-align: center;
}

.second-square{
    background-color: #f96e46;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;

}

.third-square{
    background-color: #f96e46;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;

}

.fourth-square{
    background-color: #f96e46;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;

}